# Kütüphaneler
node_modules/

# Ortam Değişkenleri
.env
.env.*

# Veritabanı Dosyaları
*.db
*.sqlite
*.sqlite3

# Loglar
npm-debug.log*
yarn-debug.log*
logs/
*.log

# İşletim Sistemi ve Editör dosyaları
.DS_Store
.vscode/